@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

.body {
    margin: 0px;
    padding: 0px;
}
.main {
    padding: 16px;
}
.footer {
    position: relative;bottom: 0px; left: 0px;
    padding: 24px, 0px, 24px, 0px;
}
footer {
    padding: 24px;
    background-color:#87B0C4;
}

.nav {
    border: 1px solid black;
    padding: 16px;
    background-color:#C49F91;
}
/* #toptext {
    color:white;
} */
h1 {
    color:#657869;
}
a {
    color: #4D6978;
}
nav {
    color:white;
}
a:hover {
    color:#9BC4A5;
}
a {
    text-decoration: none;
}
